#titleBox {
    background-color: powderblue;
    box-shadow: rgb(218, 218, 225) 7px 7px;
    margin-top: -.5%;
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 9%;
}

#welcome {
    margin-top: -9%;
    color: white;
}

#welcomeShadow {
    margin-top: -3.89%;
    margin-right: .2%;
    color: black;
}
