#titleBox {
    display: flex;
    background-color:black;
    border-radius:30px 9px;
    box-shadow: 10px 10px 8px #fdc3e3;
    margin-top: -.5%;
    padding-bottom: 3%;
    color:powderblue;
}
#welcome{
    padding-top:-3%;
    padding-left:45%;
}

#mediaContainer {
    display: flex;
    background: rgba(245, 129, 225, 0.07);
    margin-top: 1.5%;
    margin-left: 78%;
    padding-bottom: 35%;
    color:transparent;
}

#linksContainer{
    margin-left:84%;
}
#youtube_Icon {
    margin-top: -225%;
}
a {
    color:blue;
}
img {
    display: block;
    margin-left: 22%;
    width: 25%;
}

#aboutCard{
    margin-top:-25%;
    width:70%;
}
#grad{
    border-radius:80px 90px 20px 20px;
    margin-right: 50%;
}
