#titleBox {
    display:flex;
    background-color:black;
    box-shadow: #fd0076 2px 7px;
    margin-top: -.5%;
    padding-bottom:3%;
    color:chartreuse;
}
#welcome{
    padding-top:-3%;
    padding-left:45%;
}

#mediaContainer {
    display: flex;
    background: rgba(245, 129, 225, 0.07);
    margin-top: 1.5%;
    margin-left: 78%;
    padding-bottom: 35%;
    color:transparent;
}

#linksContainer{
    margin-left:84%;
}
#youtube_Icon {
    margin-top: -225%;
}
a {
    color:blue;
}
img {
    display: block;
    margin-left:22%;
    width: 25%;
}
